@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?80224779');
  src: url('../font/fontello.eot?80224779#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?80224779') format('woff'),
       url('../font/fontello.ttf?80224779') format('truetype'),
       url('../font/fontello.svg?80224779#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?80224779#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-user-plus:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-chart-bar:before { content: '\e808'; } /* '' */
.icon-cancel-circled-1:before { content: '\e809'; } /* '' */
.icon-flow-tree:before { content: '\e80a'; } /* '' */
.icon-flow-cascade:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-ccw:before { content: '\e80d'; } /* '' */
.icon-spin6:before { content: '\e80e'; } /* '' */
.icon-right-dir:before { content: '\e80f'; } /* '' */
.icon-target:before { content: '\e810'; } /* '' */
.icon-calendar-1:before { content: '\e811'; } /* '' */
.icon-ok-1:before { content: '\e812'; } /* '' */
.icon-cancel-1:before { content: '\e813'; } /* '' */
.icon-circle:before { content: '\e814'; } /* '' */
.icon-circle-empty:before { content: '\e815'; } /* '' */
.icon-circle-thin:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-star-empty:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-th:before { content: '\e81a'; } /* '' */
.icon-asterisk:before { content: '\e81b'; } /* '' */
.icon-minus-circled:before { content: '\e81c'; } /* '' */
.icon-tags:before { content: '\e81d'; } /* '' */
.icon-help-circled:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-layout:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-link:before { content: '\e822'; } /* '' */
.icon-link-ext:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-lock:before { content: '\e825'; } /* '' */
.icon-lock-open-alt:before { content: '\e826'; } /* '' */
.icon-tools:before { content: '\e827'; } /* '' */
.icon-right-open-1:before { content: '\e828'; } /* '' */
.icon-down-open-1:before { content: '\e829'; } /* '' */
.icon-download:before { content: '\e830'; } /* '' */
.icon-chat-empty:before { content: '\e840'; } /* '' */
.icon-attention-alt:before { content: '\e843'; } /* '' */
.icon-attention-circled:before { content: '\e845'; } /* '' */
.icon-direction:before { content: '\e847'; } /* '' */
.icon-trash:before { content: '\e848'; } /* '' */
.icon-trash-empty:before { content: '\e849'; } /* '' */
.icon-docs:before { content: '\e84a'; } /* '' */
.icon-doc-text:before { content: '\e84b'; } /* '' */
.icon-doc-text-inv:before { content: '\e84c'; } /* '' */
.icon-doc:before { content: '\e84d'; } /* '' */
.icon-sliders:before { content: '\e84f'; } /* '' */
.icon-wrench:before { content: '\e850'; } /* '' */
.icon-cog-alt:before { content: '\e851'; } /* '' */
.icon-cog:before { content: '\e852'; } /* '' */
.icon-menu:before { content: '\e853'; } /* '' */
.icon-phone:before { content: '\e855'; } /* '' */
.icon-rss:before { content: '\e856'; } /* '' */
.icon-folder-open-empty:before { content: '\e857'; } /* '' */
.icon-down-open:before { content: '\e863'; } /* '' */
.icon-right-open:before { content: '\e865'; } /* '' */
.icon-arrows-cw:before { content: '\e873'; } /* '' */
.icon-signal:before { content: '\e87f'; } /* '' */
.icon-list-alt:before { content: '\e881'; } /* '' */
.icon-off:before { content: '\e882'; } /* '' */
.icon-table:before { content: '\e886'; } /* '' */
.icon-list-bullet:before { content: '\e887'; } /* '' */
.icon-chart-area:before { content: '\e889'; } /* '' */
.icon-chart-pie:before { content: '\e88b'; } /* '' */
.icon-chart-line:before { content: '\e88c'; } /* '' */
.icon-tasks:before { content: '\e88d'; } /* '' */
.icon-gauge:before { content: '\e88e'; } /* '' */
.icon-sitemap:before { content: '\e88f'; } /* '' */
.icon-spinner:before { content: '\e890'; } /* '' */
.icon-help-circled-1:before { content: '\e894'; } /* '' */
.icon-thumbs-up-1:before { content: '\e896'; } /* '' */
.icon-thumbs-down-1:before { content: '\e897'; } /* '' */
.icon-chat-1:before { content: '\e898'; } /* '' */
.icon-attention-1:before { content: '\e899'; } /* '' */
.icon-folder:before { content: '\e89b'; } /* '' */
.icon-ccw-1:before { content: '\e8a1'; } /* '' */
.icon-cw-1:before { content: '\e8a2'; } /* '' */
.icon-arrows-ccw:before { content: '\e8a3'; } /* '' */
.icon-play-1:before { content: '\e8a4'; } /* '' */
.icon-dot-3:before { content: '\e8a5'; } /* '' */
.icon-gauge-1:before { content: '\e8aa'; } /* '' */
.icon-spread:before { content: '\e8ab'; } /* '' */
.icon-spinner2:before { content: '\e8ac'; } /* '' */
.icon-cancel-circled-2:before { content: '\e8af'; } /* '' */
.icon-spin5:before { content: '\e8b2'; } /* '' */